<div fxLayout="row wrap" *ngIf="estado==true">
    <div fxFlex="100" class="flex-p">
        <mat-card class="p-0 list">
            <mat-sidenav-container>
                <div>
                    <div class="back-gradient-dark-blue text-white btnp" fxLayout="row"
                        fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <button (click)="estado=false; setTipoForm(0);clear()"
                                class="btn btn-sm btn-light text-success">
                                <i class="fa fa-plus"></i>&nbsp; Nuevo Equipo
                            </button>
                        </div>
                    </div>
                    <div class="list-content" perfectScrollbar>
                        <p-table #dt [value]="equipos" [columns]="cols" [paginator]="true" [rows]="9">
                            <ng-template pTemplate="caption">
                                    <div style="text-align: right">
                                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                            <input type="text" pInputText size="50" placeholder="Buscar Por..."
                                                (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                style="width:auto">
                                        </div>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th class="text-center" *ngFor="let col of columns"
                                        [ngStyle]="{'width': getStyle(col.width)}">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item let-columns="columns">
                                <tr [pSelectableRow]="item" style="height: 50px;" class="tbody">
                                    <td class="text-center">{{item.idEquipos}}</td>
                                    <td style="text-align: left">{{item.codigo}}</td>
                                    <td style="text-align: left">{{item.referencia}}</td>
                                    <td style="text-align: left">{{item.nombre}}</td>
                                    <td class="text-center">
                                        <div *ngIf="item.estado == 0" class="badge badge-success">Activo</div>
                                        <div *ngIf="item.estado == 9" class="badge badge-danger">Inactivo</div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="container">
                                                <button mat-icon-button pTooltip="Ver Protocolos" tooltipPosition="top">
                                                    <mat-icon>ballot</mat-icon>
                                                </button>
                                                <button mat-icon-button pTooltip="editar equipo"
                                                    (click)="estado=false; setTipoForm(1); setEquipo(item)"
                                                    tooltipPosition="top">
                                                    <mat-icon class="text-info">mode_edit</mat-icon>
                                                </button>
                                                <button *ngIf="item.estado == 0" class="text-center" mat-icon-button
                                                    pTooltip="Eliminar Equipo" tooltipPosition="top"
                                                    (click)="setEquipo(item);deleteEquipo()">
                                                    <mat-icon class="text-danger">delete</mat-icon>
                                                </button>

                                                <button *ngIf="item.estado == 9" class="text-center" mat-icon-button
                                                    pTooltip="Restaurar Equipo" tooltipPosition="top"
                                                    (click)="setEquipo(item);deleteEquipo()">
                                                    <mat-icon class="text-warning">cached</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </mat-sidenav-container>
        </mat-card>
    </div>
</div>


<!--FORMULARIO DE NUEVO EQUIPO-->
<div class="container" *ngIf="estado==false">
    <mat-card class="formulario">
        <h5 *ngIf="tipoForm == 0" class="text-success">Nuevo Equipo</h5>
        <h5 *ngIf="tipoForm == 1" class="text-info">Editar Equipo</h5>
        <hr>
        <form [formGroup]="datos" class="form-sample">
            <div class="row">
                <div class="col-6">
                    <div class="content">
                        <mat-form-field appearance="outline">
                            <mat-label>Protocolo</mat-label>
                            <select matNativeControl formControlName="fkProtocolo" id="proto" name="proto">
                                <option *ngFor="let item of protocolos" [value]="item.idProtocolo">{{item.nombre}}
                                </option>
                            </select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-6">
                    <div class="content">
                        <mat-form-field appearance="outline">
                            <mat-label>Parametro</mat-label>
                            <select matNativeControl formControlName="fkParametro" id="para" name="para">
                                <option *ngFor="let item of parametro" [value]="item.idParametro">{{item.nombre}}
                                </option>
                            </select>
                        </mat-form-field>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="content">
                        <mat-form-field appearance="outline">
                            <mat-label>Codigo:</mat-label>
                            <input matInput placeholder="codigo" formControlName="codigo" name="cod" id="codigo"
                                formControlName="codigo">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-6">
                    <div class="content">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre:</mat-label>
                            <input matInput placeholder="nombre equipo" formControlName="nombre" name="nomb"
                                id="nombre">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="content">
                        <mat-form-field appearance="outline">
                            <mat-label>referencia:</mat-label>
                            <input matInput placeholder="referencia" formControlName="referencia" name="refer"
                                id="referencia">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button [disabled]="!datos.valid" class="btn btn-sm bg-light text-success" style="float: right;"
                        (click)="postEquipo()" *ngIf="tipoForm == 0"><i class="fa fa-plus"></i> Crear</button>
                    <button [disabled]="!datos.valid" class="btn btn-sm bg-light text-info" style="float: right"
                        *ngIf="tipoForm == 1" (click)="putEquipo();"><i class="fa fa-edit"></i> Actualizar</button>
                    <button class="btn btn-sm bg-light text-danger" style="float: left" (click)="estado=true;"><i
                            class="fa fa-times"></i> Cancelar</button>
                </div>
            </div>
        </form>
    </mat-card>
</div>