<div class="container-fluid">
  <div class="row">
    <mat-card class="formulario">
      <div>
        <h4>Consultas</h4>
        <mat-form-field appearance="outline">
          <mat-label>Selecione consulta:</mat-label>
          <mat-select>
            <mat-option (click)="opciones='porTecnico'; formulario=0" [value]="1">Por tecnico</mat-option>
            <mat-option (click)="opciones='tecnicos'; formulario=0" [value]="1">Tecnicos</mat-option>
            <mat-option (click)="opciones='clientes'; formulario=0" [value]="1">Clientes</mat-option>
            <mat-option (click)="opciones='porclientes'; formulario=0" [value]="1">Por clientes</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!--CONSULTA POR TECNICOS -->
      <div class="row" *ngIf="opciones=='porTecnico'">
        <div class="col-md-4">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Fecha inicio:</mat-label>
            <input matInput [matDatepicker]="inicio2" placeholder="fecha inicial" name="fechai2" [(ngModel)]="fechai2">
            <mat-datepicker-toggle matSuffix [for]="inicio2"></mat-datepicker-toggle>
            <mat-datepicker #inicio2></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Fecha Final:</mat-label>
            <input matInput [matDatepicker]="final2" placeholder=" fecha final" name="fechaf2" [(ngModel)]="fechaf2">
            <mat-datepicker-toggle matSuffix [for]="final2"></mat-datepicker-toggle>
            <mat-datepicker #final2></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Selecione Tecnico:</mat-label>
            <mat-select>
              <mat-option *ngFor="let item of tecnicos" (click)="SelectTecnico(item.idTecnico)"
                [value]="item.idTecnico">{{item.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        </div>
        <!-- CONSULTA POR CLIENTES -->
        <div class="row" *ngIf="opciones=='porclientes'">
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Fecha inicio:</mat-label>
              <input matInput [matDatepicker]="inicio5" placeholder="fecha inicial" name="fechai23" [(ngModel)]="fechai3">
              <mat-datepicker-toggle matSuffix [for]="inicio5"></mat-datepicker-toggle>
              <mat-datepicker #inicio5></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Fecha Final:</mat-label>
              <input matInput [matDatepicker]="final5" placeholder=" fecha final" name="fechaf3" [(ngModel)]="fechaf3">
              <mat-datepicker-toggle matSuffix [for]="final5"></mat-datepicker-toggle>
              <mat-datepicker #final5></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Selecione Cliente:</mat-label>
              <mat-select>
                <mat-option *ngFor="let item of clientes" (click)="SelectCliente(item.idCliente)"
                  [value]="item.idCliente">{{item.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        <div class="col-md-4">
          <button mat-button style="color: #206936" (click)="getPorCliente();formulario=5">Consultar</button>
        </div>
        <button class="btn btn-control btn-primary" (click)="getReporteGraficaPorTecnico()" ><i class="material-icons">
            print</i></button>
        </div>
      <!--CONSULTA DE TODOS LOS TECNICOS -->
      <div class="row" *ngIf="opciones=='tecnicos'">
        <div class="col-md-4">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Fecha inicio:</mat-label>
            <input matInput [matDatepicker]="inicio3" placeholder="Choose a date" name="fechai1" [(ngModel)]="fechai1">
            <mat-datepicker-toggle matSuffix [for]="inicio3"></mat-datepicker-toggle>
            <mat-datepicker #inicio3></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Fecha Final:</mat-label>
            <input matInput [matDatepicker]="final3" placeholder="Choose a date" name="fechaf1" [(ngModel)]="fechaf1">
            <mat-datepicker-toggle matSuffix [for]="final3"></mat-datepicker-toggle>
            <mat-datepicker #final3></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <button mat-button style="color: #206936" (click)="getTotalTecnicos(); formulario=3">Consultar</button>
          <button class="btn btn-control btn-primary" style="float: right;" (click)="getReporteGraficaTecnico()" *ngIf="formulario==3"><i class="material-icons">
            print
            </i></button>
        </div>
      </div>
      <!--CONSULTA DE TODOS LOS CLIENTES -->
      <div class="row" *ngIf="opciones=='clientes'">
        <div class="col-md-4">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Fecha inicio:</mat-label>
            <input matInput [matDatepicker]="inicio4" (click)="getConsulta2();formulario=3" placeholder="Choose a date"
              name="fechai4" [(ngModel)]="fechai4">
            <mat-datepicker-toggle matSuffix [for]="inicio4"></mat-datepicker-toggle>
            <mat-datepicker #inicio4></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Fecha Final:</mat-label>
            <input matInput [matDatepicker]="final4" placeholder="Choose a date" name="fechaf4" [(ngModel)]="fechaf4">
            <mat-datepicker-toggle matSuffix [for]="final4"></mat-datepicker-toggle>
            <mat-datepicker #final4></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <button mat-button style="color: #206936" (click)=" getTotalCliente();formulario=4;">Consultar</button>
        </div>
        <button class="btn btn-control btn-primary" style="float: right;" (click)="getReporteGraficaCliente()" *ngIf="formulario==4"><i class="material-icons">
            print
            </i></button>
      </div>
      
    </mat-card>
  </div>
  <!-- RESULTADOS DE CONSULTA -->
  <!-- RESULTADO POR TECNICO -->
  <div *ngIf="formulario==2">
    <div class="list-content" perfectScrollbar>
      <p-table [columns]="cols" [value]="tecnicos" [paginator]="true"  [rows]="10">
        <ng-template pTemplate="header"  let-columns>
          <tr>
            <th class="text-center" *ngFor="let col of columns" >
                {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr class="tbody" *ngFor="let item of sql2">
            <td>{{item.fkEquipos.nombre}}</td>
            <td>{{item.fkEquipos.codigo}}</td>
            <td>{{item.fechaProgramada}}</td>
            <td>{{item.fechaRealizada}}</td>
            <td>{{item.fkCliente.nombre}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
   <!-- RESULTADO POR CLIENTE -->
   <div *ngIf="formulario==5">
    <div class="list-content" perfectScrollbar>
      <p-table [columns]="col2" [value]="tecnicos" [paginator]="true"  [rows]="10">
        <ng-template pTemplate="header"  let-columns>
          <tr>
            <th class="text-center" *ngFor="let col of columns" >
                {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr class="tbody" *ngFor="let item of sql1">
            <td>{{item.fkEquipos.nombre}}</td>
            <td>{{item.fkEquipos.codigo}}</td>
            <td>{{item.fechaProgramada}}</td>
            <td>{{item.fechaRealizada}}</td>
            <td>{{item.fkResponsable.nombre}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <!-- RESULTADO DE TODOS LOS TECNICOS -->
  <div *ngIf="formulario==3 && info.length > 0">
    <div class="list-content" perfectScrollbar>
      <p-table #dt [value]="info" [paginator]="true" [rows]="7">
        <ng-template pTemplate="header">
          <tr class="bg">
            <th width="20%">Tecnico</th>
            <th width="20%"># Equipos</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr class="tbody" >
            <td>{{item[3]}}</td>
            <td>{{item[2]}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <p-chart type="bar" [data]="data" [options]="options" ></p-chart>
  </div>
  <!-- RESULTADO DE CLIENTES -->
  <div *ngIf="formulario==4  && info.length">
      <div class="list-content" perfectScrollbar>
        <p-table #dt [value]="info" [paginator]="true"  [rows]="10">
            <ng-template pTemplate="header">
                <tr class="bg">
                  <th width="20%">Clientes</th>
                  <th width="20%"># Equipos</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr class="tbody" >
                  <td>{{item[3]}}</td>
                  <td>{{item[2]}}</td>
                </tr>
              </ng-template>
        </p-table>
      </div>
    </div>
</div>