@import "../../../../theme/styles/variables";

.text-wine{
    color: rgb(87, 4, 4);
}

.procolos-procolos-procolosProcolosProcolos-list{ 
    .search{
        margin: 0 14px;
        width: 100%;
        border: none;
        border-radius: 2px;
        padding: 6px;
        outline: none;
    }
    .mail-body{
        padding: 16px;
    }   
    .empty{
        mat-icon{
            font-size: 220px;
            height: 220px;
            width: 220px;
            opacity: 0.4;
        }
        p{
            font-size: 18px;
            opacity: 0.8;
        }
    }    
}
.procolos-procolos-procolosProcolosProcolos-list-sidenav{
    width: 350px;
    border-right: 1px solid transparent;
    overflow: hidden;
}
.procolos-procolos-procolosProcolosProcolos-list-content{
    height: calc(100vh - (#{$toolbar-height} + #{$inner-sidenav-content-padding}*2 + 132px));
    .mat-line{
        white-space: unset;
    }
    .subject{
        font-weight: 500;
    }
}
.procolos-procolos-procolosProcolosProcolos-list-sidenav-procolos-procolos-procolosProcolosProcolos-list{
    height: calc(100vh - (#{$toolbar-height} + #{$inner-sidenav-content-padding}*2 + 132px));
    .sender{
        font-weight: 400;
    }
    .subject{
        font-size: 13px;
    }
    .unread .mat-line, .unread .sender {
        font-weight: bold;
    }
    .selected{
        background: rgba(0,0,0,.15);
    }
}

@media (max-width: 575px) { 
    .procolos-procolos-procolosProcolosProcolos-list-sidenav{
        width: 280px;
    }
}

.search{
    margin: 0 14px;
    width: 100%;
    border: none;
    border-radius: 2px;
    padding: 6px;
    outline: none;
}

.tbody td{
    border: 0px;
    border-bottom: 0.5px solid #ccc;
    background-color: #fff !important;
    text-align: center;
}

.tbody:hover{
    color: #690000;
}

.bg th{
    color: #00695c;
}
.nuevoE{
    position: relative;
    left:300px;
    width: 500px;
    text-align: center;
    
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.crear{
    background: #49978e;
    color: white;
}
.cancelar{
    background: #F44336;
    color: white;
}