<div fxLayout="row wrap" *ngIf="estado === 'ordenes'">
    <div fxFlex="100" class="flex-p">
        <mat-card class="p-0 list">
            <mat-sidenav-container>
                <div>
                    <div class="back-gradient-gray text-white btnp" fxLayout="row" fxLayoutAlign="space-between center">
<!--                         <button class="btn btn-sm bg-light text-info" (click)="verCotizaciones()">
                            <i class="fa fa-eye"></i>&nbsp; Ver cotizaciones
                        </button> -->
                        <h5 style="float: right">Listado de Ordenes</h5>
                    </div>
                    <div class="list-content" perfectScrollbar>
                        <app-ordenes-table [data]="ordenes"></app-ordenes-table>
                    </div>
                </div>
            </mat-sidenav-container>
        </mat-card>
    </div>
</div>



<div fxLayout="row wrap" *ngIf="estado === 'cotizaciones'">
    <div fxFlex="100" class="flex-p">
        <mat-card class="p-0 list">
            <mat-sidenav-container>
                <div>
                    <div class="back-gradient-gray text-white btnp" fxLayout="row" fxLayoutAlign="space-between center">
                        <button class="btn btn-sm bg-light text-danger" (click)="estado = 'ordenes'">
                            <i class="fa fa-arrow-left"></i>&nbsp; regresar
                        </button>&nbsp;&nbsp;
                        <h5 style="float: right">Listado de Cotizaciones</h5>
                    </div>
                    <div class="list-content" perfectScrollbar>
                        <app-cotizaciones-table (crearOrden)="crearOrden($event)">
                        </app-cotizaciones-table>
                    </div>
                </div>
            </mat-sidenav-container>
        </mat-card>
    </div>
</div>



<div fxLayout="row wrap" *ngIf="estado === 'agregarOrden'">
    <div fxFlex="100" class="flex-p">
        <mat-card class="p-0 list">
            <mat-sidenav-container>
                <div>
                    <div class="back-gradient-gray text-white btnp" fxLayout="row" fxLayoutAlign="space-between center">
                        <button mat-icon-button pTooltip="Ver Protocolos" tooltipPosition="top"
                            (click)="irA('cotizaciones')">
                            <mat-icon>keyboard_backspace</mat-icon>
                        </button>&nbsp;&nbsp;
                        <h4 class="title">Agregar orden</h4>
                    </div>
                    <div class="list-content" perfectScrollbar>
                        <app-calendario [cotizacionDetalles]="cotizacionDetalles" [cotizacion]="cotizacion" (return)="estado = 'ordenes'; getOrdenes()">
                        </app-calendario>
                    </div>
                </div>
            </mat-sidenav-container>
        </mat-card>
    </div>
</div>