<p-table *ngIf="table == 0" #dt [value]="data" [columns]="cols" [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Buscar Por..."
        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto" />
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [ngStyle]="{ width: getStyle(col.width) }">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-columns="columns">
    <tr [pSelectableRow]="item" class="tbody">
      <td style="text-align: left">{{ item.numOrden }}</td>
      <td style="text-align: left">{{ item.fkCotizacion.codigo }}</td>
      <td style="text-align: left">{{ item.fkCotizacion.fkCliente.nombre }}</td>
      <td style="text-align: left">{{ item.fkCotizacion.responsable }}</td>
      <td style="text-align: left">{{ getDate(item.fechaOrden) }}</td>
      <td class="text-center">
        <div *ngIf="item.esatdoOrden == 3" class="badge badge-success">
          Activo
        </div>
        <div *ngIf="item.esatdoOrden == 4" class="badge badge-info">
          Asignado
        </div>
        <div *ngIf="item.esatdoOrden == 9" class="badge badge-danger">
          Cancelada
          </div>
      </td>
      <td class="text-center">
        <div class="row text-center">
          <div class="container">
            
            <button class="text-center" mat-icon-button pTooltip="Editar Protocolos"
              (click)="getCotizacionById(item.idOrdenes);"
              tooltipPosition="top">
              <mat-icon class="text-secondary">remove_red_eye</mat-icon>
            </button>

<!--             <button *ngIf="item.esatdoOrden == 3" class="text-center" mat-icon-button pTooltip="Editar Protocolos" (click)="
                seleccionarProtocolo(item);
                getTecnicos();
                estado = false;
                setTipoForm(1)
              " tooltipPosition="top">
              <mat-icon class="text-info">mode_edit</mat-icon>
            </button>

            <button *ngIf="item.esatdoOrden == 3" class="text-center" mat-icon-button pTooltip="Eliminar Protocolo"
              tooltipPosition="top" (click)="seleccionarProtocolo(item); deleteProtocolo()">
              <mat-icon class="text-danger">delete</mat-icon>
            </button>

            <button *ngIf="item.esatdoOrden == 9" class="text-center" mat-icon-button pTooltip="Restaurar Protocolo"
              tooltipPosition="top" (click)="seleccionarProtocolo(item); deleteProtocolo()">
              <mat-icon class="text-warning">cached</mat-icon>
            </button> -->

          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>


<!--////////// table protocolos-->

<!-- <p-table *ngIf="table == 1" #dt [value]="protocolos" [paginator]="true" [rows]="7">
  <ng-template pTemplate="header">
    <tr>
      <div  style="margin: 7px" fxLayout="row" fxLayoutAlign="start center">
        <button style="float: right" mat-flat-button color="accent" (click)="return()">
          <mat-icon class="mat-18">keyboard_backspace</mat-icon> &nbsp; regresar
        </button>
      </div>
    </tr>
    <tr class="bg">
      <th width="10%">Codigo</th>
      <th width="20%">Nombre</th>
      <th width="30%">Descripcion</th>
      <th width="20%">Responsable</th>
      <th width="20%">Revision</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr class="tbody">
      <td>{{item.fkProtocolo.codigo}}</td>
      <td style="text-align: left">{{item.fkProtocolo.nombre}}</td>
      <td style="text-align: left">{{item.fkProtocolo.descripcion}}</td>
      <td style="text-align: left">{{item.fkProtocolo.responsable}}</td>
      <td>{{item.fkProtocolo.revision}}</td>
    </tr>
  </ng-template>
</p-table> -->