 <form class="form-text">
  <div class="row">
    <div class="col-md-6"> <h4 class="text-muted">Informacion del Mantenimiento</h4></div>
    <div class="col-md-6"><button mat-mini-fab color="warn" (click)="close()" style="float: right"><mat-icon>clear</mat-icon></button></div>
  </div>
  <hr class="py-1">
  <div class="form-row">
    <div class="col-md-3">
      <div class="form-group">
        <label class="text-muted" for="fecha">Fecha Programada &nbsp;<b class="text-danger">*</b></label>
        <input readonly type="text" [(ngModel)]="fechaProgramada" name="fecha" id="fecha"
          class="form-control form-control-sm">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="text-muted" for="cliente">Nombre Cliente &nbsp;<b class="text-danger">*</b></label>
        <input readonly type="text" [(ngModel)]="data.fkCliente.nombre" name="cliente" id="cliente"
          class="form-control form-control-sm">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="text-muted" for="idcliente">Documento Cliente &nbsp;<b class="text-danger">*</b></label>
        <input readonly type="text" [(ngModel)]="data.fkCliente.documento" name="idcli" id="idcli"
          class="form-control form-control-sm">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="text-muted" for="direccioncli">Direccion Cliente &nbsp;<b class="text-danger">*</b></label>
        <input readonly type="text" [(ngModel)]="data.fkCliente.direccion" name="direccioncli" id="direccioncli"
          class="form-control form-control-sm">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="text-muted" for="codequipo">Codigo Equipo &nbsp;<b class="text-danger">*</b></label>
        <input readonly type="text" [(ngModel)]="data.fkEquipos.codigo" name="codequipo" id="codequipo"
          class="form-control form-control-sm">
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <label class="text-muted" for="nombrequipo">Nombre Equipo &nbsp;<b class="text-danger">*</b></label>
        <input readonly type="text" [(ngModel)]="data.fkEquipos.nombre" name="nombrequipo" id="nombrequipo"
          class="form-control form-control-sm">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="text-muted" for="protocoloquipo">Protocolo Equipo &nbsp;<b class="text-danger">*</b></label>
        <input readonly type="text" [(ngModel)]="data.fkEquipos.fkProtocolo.nombre" name="protocoloquipo"
          id="protocoloquipo" class="form-control form-control-sm">
      </div>
    </div>
  </div>
</form>