<div class="container-fluid">
  <mat-card style="height: 500px;position: relative;width: 52%; text-align: left; align-content: center;    position: relative;
  left: 25%;">
    <!--body-->
    <h2>Nuevo Equipo #</h2>
    <div class="row">
      <div class="col-md-8">
        <mat-label style=" font-family: 'Lato', sans-serif;
        margin: 20px 0px 20px 0px;
     padding: 20px 0px 20px 0px;">RADIOLOGOS ASOCIADOS S.A.S</mat-label ><br><br>
        <mat-label style=" font-family: 'Lato', sans-serif;
        margin: 20px 0px 20px 0px;
     padding: 20px 0px 20px 0px;"><b>Codigo:</b> IC-09-01</mat-label><br><br>
        <mat-label style=" font-family: 'Lato', sans-serif;
        margin: 20px 0px 20px 0px;
     padding: 20px 0px 20px 0px;"><b>Referencia:</b> IC-09-01</mat-label><br><br>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Serial:</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-label>DESFIBRILADOR</mat-label>
        <div class="imagen">
          <img src="../../../../../assets/img/error-icon.png" alt="">
        </div>
      </div>

    </div>
    <div class="row">
        <table class="egt" style="margin-left: 10px; margin-right: 10px">

            <tr style="align-content: center; text-align: center">        
              <th>Propiedades</th>
              <th>Descripcion</th>
            </tr>
          
            <tr>    
              <td>
                  <input matInput >
              </td>        
              <td>
                  <input matInput >
              </td>
            </tr>
            <tr>
              <td>
                  <input matInput >
              </td>
             
              <td>
                  <input matInput >
              </td>
            </tr>
            <tr>
              <td>
                  <input matInput >
              </td>
              <td>
                  <input matInput >
              </td>
            </tr>
            <tr>
                <td>
                    <input matInput >
                </td>
                <td>
                    <input matInput >
                </td>
              </tr>
          
          </table>
    </div>

  </mat-card>

</div>