<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <div class="row justify-content-end pb-2 bg-light">
    <div class="col-md-12">
      <button class="ml-2" mat-mini-fab color="warn" (click)="closeDialog()" style="float: right">
        <mat-icon>clear</mat-icon>
      </button>
      <button class="ml-2" mat-mini-fab color="accent" style="float: right"
        styleSheetFile="../../../../../../node_modules/bootstrap/dist/css/bootstrap.css" printSectionId="printElement"
        ngxPrint>
        <mat-icon>print</mat-icon>
      </button>
    </div>
  </div>
  <form>
    <div class="container" id="printElement">
      <div class="row justify-content-between">
        <div class="col-md-6" style="width: 50%;">
          <img src="../../../../../assets/img/soluciones-logo.png" alt="Logo" width="40%" />
        </div>
        <div class="col-md-2 my-auto">
          <h6 class="text-center" style="border: solid 1px grey;">
            {{datos.codigo}} <br />
            {{datos.entrega}}<br />
          </h6>
        </div>
      </div>

      <hr class="pt-1" />
      <h4 class="text-center">Cotización servicio técnico No. {{datos.codigo}}-2019</h4>

      <div class="form-row mt-3" >
        <div class="col-md-6 infor1">
         <label></label><br />
         <label >{{datos.fkCliente.nombre}}</label> <br />
         
          Atencíon: <label>{{datos.fkCliente.atencion}}</label> <br />
         <label>{{datos.fkCliente.email}}</label> <br />
        </div>

        <div class="col-md-6 m-auto infor2">
         
          Dirección: <label>{{datos.fkCliente.direccion}}</label><br />
          <label>{{datos.fkCliente.documento}}</label> <br />
          Teléfono: <label>{{datos.fkCliente.telefonoCelular}}</label>
        </div>
      </div>
      <div class="form-row mt-2">
        <table class="table border border-secondary pt-2" style="border: solid 1px black;">
          <thead class="text-center">
            <tr>
              <th>Item</th>
              <th>Referencia</th>
              <th>Nombre</th>
              <th>Cantidad</th>
              <th>Vr Unidad</th>
              <th>Vr Total</th>
            </tr>
          </thead>

          <tbody *ngFor="let item of datosDetalles; let i = index;">
            <tr class="text-center borderTable">
              <th scope="row">{{ i+1 }}</th>
              <td>{{ item.fkEquipos.codigo }}</td>
              <td>{{item.fkEquipos.nombre}}</td>
              <td>{{ item.cantidad }}</td>
              <td>${{ item.valorUnitario }}</td>
              <td>${{ item.cantidad * item.valorUnitario }}</td>
            </tr>
         
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <td></td>
              <td></td>
              <td>SUB TOTAL:</td>
              <td class="ml-3">${{ monto }}</td>
            </tr>
            <tr>
              <th></th>
              <td></td>
              <td></td>
              <td>IVA:</td>
              <td class="ml-3">{{datos.viaticoIva}}%</td>
            </tr>
            <label for=""></label>
          </tfoot> 
        </table>
      </div>
    </div>
  </form>
</cdk-virtual-scroll-viewport>
<ngx-smart-modal #myModal identifier="myModal">
  <h3 class="text-center">Enviar Cotización</h3>
  <br />
  <form action="" class="text-center">
    <mat-form-field class="w-50 text-center example-full-width">
      <input matInput placeholder="Correo Electrónico" />
    </mat-form-field>
    <br />
    <mat-form-field class="w-50 text-center example-full-width">
      <input matInput placeholder="Asunto" />
    </mat-form-field>
    <br />
    <mat-form-field class="w-50 text-center example-full-width">
      <textarea matInput placeholder="Mensaje"></textarea>
    </mat-form-field>
    <br />
    <div class="row">
      <button class="w-100 btn btn-outline-success">Enviar</button>
      <button class="w-100 btn btn-outline-danger" (click)="myModal.close()">
        Cancelar
      </button>
    </div>
  </form>
</ngx-smart-modal>