<!--Division-->
<div fxLayout="row wrap" *ngIf="estado == true">
  <div fxFlex="100" class="flex-p">
    <mat-card class="p-0 list">
      <mat-sidenav-container>
        <div>
          <div class="back-gradient btnp">
            <div fxLayout="row" fxLayoutAlign="start center">
              <button class="btn btn-sm bg-light text-success" (click)="estado = false; setTipoForm(0); clear()">
                <i class="fa fa-plus"></i>&nbsp; Nueva Empresa
              </button>
            </div>
          </div>
          <div class="list-content" perfectScrollbar>
            <p-table #dt [value]="empresas" [columns]="cols" [paginator]="true" [rows]="7">
              <ng-template pTemplate="caption">
                  <h5 style="text-align: left; position: absolute;">Empresas</h5>
                <div style="text-align: right">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input type="text" pInputText size="50" placeholder="Buscar Por..."
                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto" />
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns; let i = index" [ngStyle]="{'width': getStyle(col.width)}">
                    {{ col.header }}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-columns="columns">
                <tr [pSelectableRow]="item">
                  <td>
                    {{ item.idEmpresa }}
                  </td>
                  <td>
                    {{ item.fotoEmpresa }}
                  </td>
                  <td>
                    {{ item.nombreEmpresa }}
                  </td>
                  <td>
                    {{ item.nitEmpresa }}
                  </td>
                  <td>
                    {{ item.representanteLegal }}
                  </td>
                  <td>
                    {{ item.sloganEmpresa }}
                  </td>
                  <td>
                    <i mat-button (click)="estado = false; setTipoForm(1); setCliente(item)" style="cursor: pointer"
                      class="material-icons edit text-info">mode_edit</i>
                    <mat-icon style="cursor: pointer" *ngIf="item.estado == 0" class="text-center" mat-icon-button pTooltip="Eliminar Cliente"
                      tooltipPosition="top" (click)="setCliente(item); deleteCliente()" class="text-danger">delete
                    </mat-icon>

                    <mat-icon style="cursor: pointer" *ngIf="item.estado == 9" class="text-center" mat-icon-button pTooltip="Restaurar Cliente"
                      tooltipPosition="top" (click)="setCliente(item); deleteCliente()" class="text-warning">cached
                    </mat-icon>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </mat-sidenav-container>
    </mat-card>
  </div>
</div>
<!--FORMULARIO DE NUEVO CLIENTE-->
<div class="container" *ngIf="estado == false">
    <div class="row">
      <div class="col-8">
        <mat-card>
            <form [formGroup]="datos" class="form-sample">
                <div class="col-12">
                <div class="row">
                  <div class="col-6">
                    <div class="content">
                      <mat-form-field appearance="outline">
                        <mat-label>Nombre Empresa</mat-label>
                        <input matInput placeholder="Nombre Completo" name="nombre" id="nombre" formControlName="nombre" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="content">
                      <mat-form-field appearance="outline">
                        <mat-label>Nombre Corto</mat-label>
                        <input matInput placeholder="@" id="email" name="email" formControlName="email" />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="content">
                      <mat-form-field appearance="outline">
                        <mat-label>NIT:</mat-label>
                        <input matInput placeholder="nombre corto" id="nombrecorto" name="nombreCorto"
                          formControlName="nombreCorto" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="content">
                      <mat-form-field appearance="outline">
                        <mat-label>Representante Legal:</mat-label>
                        <input matInput type="number" placeholder="Documento" id="documento" name="documento"
                          formControlName="documento" />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="content">
                      <mat-form-field appearance="outline">
                        <mat-label>Slogan Empresa:</mat-label>
                        <textarea matInput placeholder="Telefono" type="number" id="telefonoFijo" name="telefonoFijo"
                          formControlName="telefonoFijo"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
                <div class="row">
                  <div class="col-12">
                    <button [disabled]="!datos.valid" style="float: right" (click)="nuevoCliente()" *ngIf="tipoForm == 0"
                      class="btn btn-sm bg-light text-success">
                      <i class="fa fa-plus"></i> Crear
                    </button>
                    <button [disabled]="!datos.valid" style="float: right" (click)="editarDatos()" *ngIf="tipoForm == 1"
                      class="btn btn-sm bg-light text-info">
                      <i class="fa fa-edit"></i> Actualizar
                    </button>
                    <button style="float: left" class="btn btn-sm bg-light text-danger" (click)="estado = true">
                      <i class="fa fa-times"></i> Cancelar
                    </button>
                  </div>
                </div>
              </form>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card>
          <form action="" class="m-3 text-center">
            <div *ngIf="userImg != null || userImg != '';then content else other_content"></div>
  
  
            <ng-template #content><img [src]="UrlLogos + userImg" alt="" width="160px" class="rounded-circle m-3 border-img" /></ng-template>
            <ng-template #other_content><img src="../../../../assets/img/default_picture.png" alt="" width="160px" class="rounded-circle m-3 border-img" /></ng-template>
  
            <br /><br />
            <div class="row d-flex justify-content-center">
              <ngx-smart-modal #myModal identifier="myModal">
                <h4>Quiere Actualizar la imagen?</h4>
                <hr>
                <img width="45%" [src]="imgURL" alt="user-profile-image" id="image-field" />
                <hr>
                <div class="row">
                  <div class="col-12">
                      <button style="float: right" class="btn btn-sm btn-light text-success" (click)="subirLogo()" [disabled]="!logoSeleccionado">
                          <i class="fa fa-edit"></i>&nbsp; Actualizar
                        </button>
                        <button style="float: left" class="btn btn-sm btn-light text-danger" (click)="myModal.close()">
                          <i class="fa fa-times"></i>&nbsp; Cerrar
                        </button>
                  </div>
                </div>
              </ngx-smart-modal>
              <div class="row m-auto">
                <div class="col-12">
                    <div class="upload-btn-wrapper">
                        <input #file type="file" id="file" style="display:none;"
                          (change)="verLogo(file.files); seleccionarLogo($event)" accept="image/*" />
                          <button class="btn btn-sm btn-light text-danger" (click)="clearImage(); thisFileUpload()">
                              <i class="fas fa-trash-alt"></i>&nbsp; Borrar Imagen
                            </button>
                            &nbsp;
                        <button class="btn btn-sm btn-light text-success" (click)="clearImage(); thisFileUpload()">
                          <i class="fas fa-camera-retro"></i>&nbsp; Subir Imagen
                        </button>
                      </div>
                </div>
              </div>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>