.container-equipos{
    background: #fbfbfb;
    width: 90%;
    position: relative;
    height: 250px;
    box-shadow: inset 0px 0px 6px 0px #e0dcdc;
    border-radius: 4px;
    left: 4%;
}


.calendar-header{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    max-height: 100%;
    place-content: center space-between;
    align-items: center;
    background: white;
    color: gray;
}

.aling-form-field{
    width: 90%;
    position: relative;
    left: 4%;
    margin: 0px;
    padding: 0px;
}


