<div *ngIf="data" fxLayout="row wrap">
  <div fxFlex="100" class="flex-p">
    <mat-card class="p-0 list">
      <mat-sidenav-container>
        <div>
          <div style="padding: 5px;" class="back-gradient-dark-blue text-white" fxLayout="row"
            fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center">
            </div>
          </div>

          <div class="list-content" perfectScrollbar>
            <p-table #dt [columns]="cols" [value]="data" [paginator]="true" [rows]="9">
              <ng-template pTemplate="caption">
                <div style="text-align: right">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input class="input-filter" type="text" pInputText size="50" placeholder="Buscar por..."
                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto" />
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th class="text-center" *ngFor="let col of columns" [ngStyle]="{ width: getStyle(col.width) }">
                    {{ col.header }}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-columns="columns">
                <tr [pSelectableRow]="item">
                  <td class="text-center">
                    <button class="text-center" mat-icon-button pTooltip="Editar Protocolos" (click)="selectCotizacion(item);openDialog();" tooltipPosition="top">
                      <mat-icon  class="text-info">remove_red_eye</mat-icon>
                    </button>
                  </td>
                  <td class="text-center">
                    {{ item.codigo }}
                  </td>
                  <td class="text-center">
                    {{ item.fkCliente.nombre }}
                  </td>
                  <td class="text-center">
                    {{ item.vigencia }}
                  </td>
                  <td class="text-center">
                    {{ item.entrega }}
                  </td>
                  <td class="text-center">
                    {{ item.condicionPago }}
                  </td>
                  <td class="text-center">
                    {{ item.responsable }}
                  </td>
                  <td class="text-center">
                    <div *ngIf="item.estado == 1" class="badge badge-warning">
                      Pendiente
                    </div>
                    <div *ngIf="item.estado == 2" class="badge badge-info">
                      Autorizada
                    </div>
                    <div *ngIf="item.estado == 9" class="badge badge-danger">
                      Cancelado
                    </div>
                    <div *ngIf="item.estado == 4" class="badge badge-success">
                      Realizada
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="row text-center">
                      <div class="container">
                        <button class="text-center" mat-icon-button pTooltip="Editar Protocolos" (click)="
                            seleccionarProtocolo(item);
                            getTecnicos();
                            estado = false;
                            setTipoForm(1)
                          " tooltipPosition="top">
                          <mat-icon class="text-info">mode_edit</mat-icon>
                        </button>

                        <button *ngIf="item.estado == 1" class="text-center" mat-icon-button
                          pTooltip="Eliminar Protocolo" tooltipPosition="top" (click)="
                            seleccionarProtocolo(item); deleteProtocolo()
                          ">
                          <mat-icon class="text-danger">delete</mat-icon>
                        </button>

                        <button *ngIf="item.estado == 9" class="text-center" mat-icon-button
                          pTooltip="Restaurar Protocolo" tooltipPosition="top" (click)="
                            seleccionarProtocolo(item); deleteProtocolo()
                          ">
                          <mat-icon class="text-warning">cached</mat-icon>
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </mat-sidenav-container>
    </mat-card>
  </div>
</div>